<div class="fodalvis" ng-click="close()">
  <div class="fodal-popup" ng-click="noclose($event)">
    <p>
      {{workout.scheduled}}
      {{workout.scheduledduration}}
    </p>

    <div ng-repeat="result in workout.results">
      {{result.exercise.name}} - {{result.score}} -
      <button ng-click="doneExercise(result)" ng-hide="result.score">Done!</button>
    </div>

    <p>
      {{workout.flex}}
      {{workout.cardio}}
      {{workout.str}}
    </p>

    <button ng-click="startWorkout()" ng-hide="inprogress" class="btn btn-success">
      Start!</button>
    <button ng-click="pauseWorkout()" ng-show="inprogress" class="btn btn-default">
      Pause</button>

  </div>
</div>

