<div ng-switch="landmarks.pagetab">
  <div ng-switch-when="schedule">
    <div calendar></div>
  </div>
  <div ng-switch-when="create">
    <div create></div>
  </div>
  <div ng-switch-when="results">
    <div feedback></div>
  </div>
</div>

<div class="bottom-bar">
  <div class="page-tab page-tab-left" ng-click="setLandmark('pagetab','schedule')">
    Schedule
  </div>
  <div class="page-tab page-tab-middle" ng-click="setLandmark('pagetab','create')">
    Create
  </div>
  <div class="page-tab page-tab-right" ng-click="setLandmark('pagetab','results')">
    Results
  </div>
</div>
